* {
    margin: 0px;
    padding: 0px;
}
html{
    /*background-image: linear-gradient(#000000, rgb(78, 78, 77));
    background-repeat: no-repeat;*/
    background-color: rgb(27, 27, 26);
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    
}

header{
    text-align: center;
    font-size: xx-large;
    /*background-color: rgb(255, 105, 180);*/
    margin: 0px;
    padding: 2%;
}
header h1{
    color: rgb(230, 112, 17);
    padding-top: 30px;
}
header h4{
    text-align: center;
}
nav{
    margin-top: 0px;
    width: 100vw;
    padding-bottom: 5%;
}
.nav-bar{ 
    background: rgb(0, 0, 0,0);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Helvetica, sans-serif, Arial;
    font-weight: bold;    
}
a{
    text-decoration: none;
    color: rgb(197, 197, 197)
}
ul{ 
    margin: 0px;
    padding: 0px 10px 0px 10px;
    list-style-type: none;   
}
.nav-bar li:hover{
    background: rgb(49, 49, 49);
    border-radius: 50%;
    
}
li{
    display: inline-flex;
    padding: 10px 20px 10px 20px;
    margin: auto;
    
}
/*----------------------------------BODY------------------------------------------------*/
body{
    padding: 3% 0px 0px 0px;
    font-family: Helvetica, sans-serif, Arial;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100vw;
    height: 100vh;
}
section{
    margin:  20px 0px 10px 0px;
    color: black;
    

}
/*------------------------------footer----------------------------------*/
footer{
    padding-top: 80px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-content: justify;
    
}

footer .buttonsf{
    display: inline-block;
    width: 100vw;
    align-content: stretch;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
    background-color: ivory;
}
footer .buttonsf ul li{
    padding: 20px 40px 10px 50px;

}
footer .buttonsf ul li i{
    color:black;
    padding: 5px;

    
} 
footer .buttonsf ul li i:hover{
    background-color: rgb(27, 27, 26);
    color: rgb(255, 255, 255);
    border-radius: 20%;
}

/*---------------------Index---------------------------------------------------*/
.seccion-foto img{
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin: 0px;
    object-position: center;
    padding-top: 30px ;

}
.centrado{
    text-align: center;
}
.seccion-1{
    display: flex;
    align-content: center;
    margin: 0% 10%;
}
.seccion-1 p{
    font-size: x-large;
    padding: 5%;
    text-align: center;
    
    
}
.seccion-1 div h2{
    color: white;
    padding-top: 20px;
}

.seccion-1 div{
    color: white;
    font-size: large;
    font-weight: bold;
    text-align: center;
        
}
.seccion-2{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: large;
    font-family: Helvetica, sans-serif, Arial;
    margin: auto;
    padding-top: 50px;

}

.seccion-2 div.global{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 2% 1.5%;
    padding-bottom: 20px;
}
.seccion-2 h2{
    color: rgb(230, 112, 17);
}
.global div{
    margin:auto;
    height: 250px;

}
.seccion-2 li{
    
    font-style: oblique;
    display: list-item;
    list-style-type: none;
    margin: 0% 5%; 
    padding-bottom: 20px;
    padding-top: 25px;
}
/*--------------------Music----------------------------------------------*/
.Music{
    color: white;
    font-size: larger;
    font-family: Helvetica, sans-serif, Arial;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}


.EP-class {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin: 70px;*/

}

.EP-embebed{
  
    padding-top: 70px;
    padding-bottom: 50px;
    margin: 5%;
    align-content: center;
}

#youtube {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    widows: 400px;
    height:307px;
    
}
/*---------------------Projects---------------------------------------------------*/

.Projects-Global {
    color: white;
    font-size: large;
    font-family: Helvetica, sans-serif, Arial;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.Projects-Global div{
    margin: 2%;
    display: inline-block;
    width: 100%;
    
}
.Projects-Global div p{
    font-size: large;
    margin-left: 5% ;
    margin-right: 5% ;
}
.Projects-Global h3, h2{
    color: rgb(230, 112, 17);

}
.Projects-Global li{
    margin-bottom: 10px;
    margin-top:20px ;
    display: inline-block;
    width: fit-content;
    
}
.display div{
    margin: 20px 0px;
}
.display li{
    margin-top: 10px;
    margin-bottom: 20px;

}
.proj{
    width: 100%;
    height: fit-content;
    margin-block-start: 0px;
    margin: 5% 0px;
}
.repo a i{
    color: rgb(131, 130, 130);
    font-size: 40px;
    margin: 2px;

}
.repo a i:hover{
    color:rgb(214, 103, 12);
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}
.Projects-Global p{
    margin: 0px;
    margin-top: 0px;
}

/*---------------------Contact-------------------------------------------------*/

#contact-find-me{
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: Helvetica, sans-serif, Arial;
    padding:50px ;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: stretch;
}
.buttons ul{
    display: inline-block;
    margin: auto;
    text-align: center;
    
    
}
.buttons ul li{
    width: fit-content;
    margin: 0px;
    /*padding-left: 80px;*/

}
.buttons ul li i:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.buttons ul li i{
    font-size: 90px;
    color: white;
    padding: 20px;

}
.contact-global{
    padding-bottom: 25px;
}
/*------------------------------------------------------------------------------*/
