<!DOCTYPE html>
<html>
    <head>
        <title >Tomas Gomez Bermudez</title>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel =stylesheet href="static\stylesheets\style.css">
        <script src="https://kit.fontawesome.com/d408b656cd.js" crossorigin="anonymous"></script>
    </head>
    <nav>
        <ul class="nav-bar">
            <li><a href="/">About</a></li>
            <li><a href="Projects">Projects</a></li>
            <li><a href="Music">Music</a></li>
            <li><a href="Contact">Contact</a></li>
        </ul>
    </nav>
<header>   
    <h1>Projects</h1>
</header>
<body>
    <section class="Projects-Global">        
        <div>
            <p>
                Here is a list of some of the projects I've made
                throught the years, some of them were class projects
                and others I made them on my spare time.
                All projects can be found on my Github profile.
            </p>
        </div>
        <div class="prog">
            <h2>Programming Languages</h2> 
            <div>
                <li>HTML 5</li>
                <li>CSS 3</li>
                <li>Python</li>
                <li>Pascal</li>
                <li>Matlab</li>
            </div>
        </div>
        <div>
            <div>
                <li class="proj">
                    <li>
                        <h3>Personal Web Portfolio</h3>
                    </li>
                    <li>
                        <p>
                            This is my personal website, the frontend was built using HTML5 and 
                            CSS3, for the backend I used Python with the framework Flask.
                        </p>
                    </li>
                    <li>
                        <a class="repo" href="https://github.com/TomasGB/Web-Portfolio" alt=github-link><i class="fab fa-github"href> </i></a>
                    </li>
                </li>
            </div>
            <div>
                <li class="proj">
                    <li>
                        <h3>Automatic Timelapse Processing App</h3>
                    </li>
                    <li>
                        <p>
                            The goal of this project was to automate the process of making a timelapse,
                            that includes taking the pictures, apply color correction when needed, histogram equalization and 
                            finally export an mp4 file with the timelapse with and without processing.
                        </p>
                    </li>
                    <li>
                        <a class="repo" href="https://github.com/TomasGB/Automatic-Timelapse-Processing-App" alt=github-link><i class="fab fa-github"href> </i></a>
                    </li>
                </li>
            </div>
            <div>
                <li class="proj">
                    <li>
                        <h3>Tamagotchi Game</h3>
                    </li>
                    <li>
                        <p>
                            This was a class project to recreate the famous game 'Tamagotchi', I built it all from scratch
                            just using Pascal, the game has a fully functioning GUI and uses text files as data base.
                        </p>
                    </li>
                    <li>
                        <a  class="repo" href="https://github.com/TomasGB/recorrido-en-l" alt=github-link><i class="fab fa-github"href> </i></a>
                    </li>
                </li>
            </div>
            <div>
                <li class="proj">
                    <li>
                        <h3>Polygon Surface Calculator</h3>
                    </li>
                    <li>
                        <p>
                            This was a class project, the goal was to develop a script able to calculate the area of any 2-D polygon with three diferent methods on MATLAB. 
                        </p>
                    </li>
                    <li>
                        <a  class="repo" href="https://github.com/TomasGB/Polygon-surface-calculator" alt=github-link><i class="fab fa-github"href> </i></a>
                    </li>
                </li>
            </div>
            
        </div>
    </section>
</body>
<footer>
    <div>
        <section class="buttonsf">
            <ul>
                <li><a class="a-twitter" href="https://twitter.com/TomasGB_98" alt=Twitter><i class="fab fa-twitter" href></i></a></li>
                <li><a class="a-facebook" href="https://www.facebook.com/tomas.gomez.14661" alt="Facebook-link"><i class="fab fa-facebook" href></i></a></li>
                <li><a class="a-instagram" href="https://www.instagram.com/gmz.tomas/" alt="Instagram-link"><i class="fab fa-instagram" href></i></a></li>
                <li><a class="a-linkedin" href="https://www.linkedin.com/in/tomasgomezbermudez/" alt="linkedin-link"><i class="fab fa-linkedin" href></i></a></li>
                <li><a class="a-github" href="https://github.com/TomasGB" alt=github-link><i class="fab fa-github"href> </i></a></li>
            </ul>
        </section>
    </div>
</footer>

</html>